@import "tailwindcss";

@font-face {
  font-family: 'Lora', serif;
  font-weight: 400 700;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-weight: 200 800;
  font-style: normal;
  font-optical-sizing: auto;
}

@theme {
  --font-sans: 'Manrope', sans-serif;
  --font-serif: 'Lora', serif;
}

@layer base {
  * {
    @apply font-sans tracking-tight;
  }
  body {
    @apply bg-white;
  }
}

@utility brand-grid {
  @apply px-4 grid grid-cols-12 gap-x-3 gap-y-6;
}